<a href="https://colab.research.google.com/github/y109240/dataAnalysis/blob/main/1%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EC%97%B0%EC%82%B0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 파이썬 자료형과 연산

무친 버스파업ㅠㅠㅠㅠ 오는데 2시간 넘게 걸림ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ
오늘 쉽지안타...
colab은 리눅스로 만들어진 서버

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
a = 10 #number
b = "python" #string
print( a , b )

10 python

## [실습 문제]

In [ ]:
!python --version

Python 3.10.12

In [ ]:
# 설치된 파이썬 버전 출력
import sys
print("---", sys.version)
sys.version
# 마지막줄의 실행결과는 print가 없어도 출력해줌, 주피터 특징

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [ ]:
# 실행 파일의 위치
import sys
print(sys.executable) # 리눅스

/usr/bin/python3

In [ ]:
# 현재 디렉토리의 위치?
import os
os.getcwd()

'/content'

## 1.파이썬 자료형

In [ ]:
print(10 + 3 * 4)
print("총 금액:", 15 * 130,"만원")
print("x % 2 == 0이면 짝수, == 1이면 홀수")
print(2**3 * 5**4 * 3**4)

22
총 금액: 1950 만원
x % 2 == 0이면 짝수, == 1이면 홀수
405000

In [ ]:
x = int(input("자연수를 입력해 주세요: "))
if x % 2 ==0:
  print("짝수입니다.")
elif x % 2 == 1:
  print("홀수입니다.")

# print("짝수") if x % 2 ==0 else print("홀수")

In [ ]:
# 바다코끼리 사용해서? :=
if (x := int(input("자연수를 입력해 주세요: "))) % 2 ==0:
  print("짝수")
else:
  print("홀수")

자연수를 입력해 주세요: 77778
짝수

In [ ]:
# 파이썬 자료형 확인 Data Type
print(type(123))
print(type(3.14))
print(type("일이삼"))
print(type([123]))
print(type((123, )))
print(type({"123":123}))
print(type({123}))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

## 2.표준 입출력

In [ ]:
# 문자열 데이터를 숫자로 변환하기
a = input("키보드로 숫자를 입력해 주세요: ")
print(type(a))
a = int(a)
print(type(a))

키보드로 숫자를 입력해 주세요: 100
<class 'str'>
<class 'int'>

In [ ]:
a = int(print("숫자를 입력해 주세요: "))

In [ ]:
# 문자열 포맷팅
a = input("숫자를 입력하세요: ")
print("변수 a에 입력된 값은", a, "입니다.")
print("변수 a에 입력된 값은 " +a+ " 입니다.")
print("변수 a에 입력된 값은 %s 입니다." %a)
print("변수 a에 입력된 값은 {0} 입니다.".format(a))
print(f"변수 a에 입력된 값은 {a} 입니다.")

숫자를 입력하세요: 애플
변수 a에 입력된 값은 애플 입니다.
변수 a에 입력된 값은 애플 입니다.
변수 a에 입력된 값은 애플 입니다.
변수 a에 입력된 값은 애플 입니다.
변수 a에 입력된 값은 애플 입니다.

In [ ]:
# 키보드로 두 수를 입력받아 간단한 계산기 프로그램 만들기
x = int(input("첫번째 숫자를 입력해 주세요: "))
y = int(input("두번째 숫자를 입력해 주세요: "))
# print("-"*30)
print(f"덧셈: {x} + {y} = {x+y:>4}")
print(f"뺄셈: {x} - {y} = {x-y:<4}")
print(f"곱셈: {x} x {y} = {x*y:^4}")
print(f"몫: {x} // {y} = {x//y:>4}")
print(f"나머지: {x} % {y} = {x%y:^4}")

첫번째 숫자를 입력해 주세요: 50
두번째 숫자를 입력해 주세요: 3
덧셈: 50 + 3 =   53
뺄셈: 50 - 3 = 47
곱셈: 50 x 3 = 150
몫: 50 // 3 =   16
나머지: 50 % 3 =  2

In [ ]:
# 속력과 거리를 입력받아 시간을 계산하는 프로그램 만들기
velocity = int(input("속력을 입력해 주세요(km/h): "))
distance = int(input("거리를 입력해 주세요(km): "))
print("-"*25)
print(f"속력 : {velocity:.1f} km/h")
print(f"거리 : {distance:.1f} km")
print(f"시간 : {distance/velocity:.1f} h")
# 출력물은 괜찮지만 만약 소수점이 있는 숫자가 들어왔을때 계산에 문제가 생길수있지

속력을 입력해 주세요(km/h): 100
거리를 입력해 주세요(km): 340
-------------------------
속력 : 100.0 km/h
거리 : 340.0 km
시간 : 3.4 h

In [ ]:
# 교수님 답안
velocity = input("속력을 입력해 주세요(km/h): ")
distance = input("거리를 입력해 주세요(km): ")
print(f"속력 : {float(velocity)} km/h")
print(f"거리 : {float(distance)} km")
print(f"시간 : {float(distance)/float(velocity):.1f} h")

속력을 입력해 주세요(km/h): 100.5
거리를 입력해 주세요(km): 340.5
속력 : 100.5 km/h
거리 : 340.5 km
시간 : 3.4 h

In [ ]:
# 이정은님 코드
velocity= float(input('속력을 입력해 주세요(km/h):'))
distance= float(input('거리을 입력해 주세요(km):'))

print('-"*30')
print(f'속력  :  {velocity} km/h')
print(f'거리  :  {distance} km')
print(f'시간  :  {distance/velocity} h')
# float로 받으면 소수점이 첫번째까지만 나옴??

속력을 입력해 주세요(km/h):100
거리을 입력해 주세요(km):340
-"*30
속력  :  100.0 km/h
거리  :  340.0 km
시간  :  3.4 h

## 내장된 수학함수

In [ ]:
import math
print(f"원주율 : {math.pi}")
print(f"원주율 : {round(math.pi, 3)}")

원주율 : 3.141592653589793
원주율 : 3.142

In [ ]:
import math
print(f"반지름이 4인 원의 넓이 : {4**2 * math.pi}")
# 제곱 : **, ^, math.pow(,)
print(round(3.14*2/7))
print(f"원주율이 3.14이고 반지름이 4인 원의 둘레길이 : {round(3.14*4*2, 2)}")

반지름이 4인 원의 넓이 : 50.26548245743669
1
원주율이 3.14이고 반지름이 4인 원의 둘레길이 : 25.12

In [ ]:
print("%d / %d = %f" %(100, 200, 0.5))

100 / 200 = 0.500000

In [1]:
a = input("1~9까지의 정수중에서 하나 입력: ")
print(f"{a} + {a*2} + {a*3} = {int(a) + int(a*2) + int(a*3)}")
# print(f"{a} + {a+a} + {a+a+a} = ... ")

한자리수 자연수를 입력하세요: 7
7 + 77 + 777 = 861

In [14]:
a = int(a)
aa = int(a+a)

print(a, aa)
print(type(a), type(aa))

8 16
<class 'int'> <class 'int'>

In [ ]:
# eval???
my_list = [1, 2, 3]
print(eval(my_list))
type(eval(my_list))

In [22]:
# eval() : 문자열을 숫자로 인식하고 계산하는 함수
eval("7+77+777")
calc = f"{a} + {a+a} + {a+a+a}"
print(f"{calc} = {eval(calc)}")

7 + 77 + 777 = 861