<a href="https://colab.research.google.com/github/y109240/dataAnalysis/blob/main/20240404_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5.반복문 : 유한개수의 반복문

## 5-1.다양한 반복문

In [4]:
# 1. range() 함수 이용:정수를 차례로 발생시키는 함수
# for 변수 in range(0,3,1):
for 변수 in range(3): #(0,3,1)과 동일
    print(변수)

0
1
2

## 5-2. 리스트 이용

In [17]:
# a=range(1,11)
a=list(range(10,0,-1))
for i in a:
    # print(i)
     # print(i,end=' ') # 가로로 1줄로 결과값 나온다
     print(i,end=',') # 가로로 1줄로 결과값 나온다 + ,

10,9,8,7,6,5,4,3,2,1,

In [22]:
#  한줄로 표현하는 방법
for i in range(1,101,10):
    print(i,end='.')

1.11.21.31.41.51.61.71.81.91.

## 5-3 문자열 이용

In [26]:
for i in 'phthon':
    print(i)

p
h
t
h
o
n

##5-4. 변수 사용안하고 반복만 할때

In [28]:

for _ in range(3):
    print('좋은 아침')

좋은 아침
좋은 아침
좋은 아침

## 5-5. 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사요

In [30]:
fruits=['사과','포도','딸기','키위']
for i in   fruits:
    print(i)

사과
포도
딸기
키위

In [40]:
fruits=['사과','포도','딸기','키위']
for idx, fruit in   enumerate(fruits):
    print(idx, fruit)

0 사과
1 포도
2 딸기
3 키위

In [41]:
fruits=['사과','포도','딸기','키위']
idx=0
for fruit in   fruits:
    print(idx, fruit)
    idx=idx+1

0 사과
1 포도
2 딸기
3 키위