<a href="https://colab.research.google.com/github/y109240/dataAnalysis/blob/main/3%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.컬렉션 자료형

## 3-1.리스트(list)

### 리스트 생성

In [5]:
# 빈 리스트 생성
a = []
a = list()
print(type(a))
print(a)

<class 'list'>
[]

In [8]:
# 초기 데이터 넣고 리스트 생성
import math
a = [1, 2, 3, 4, 5]
a = [1, "apple", "딸기", 3.14, math.pi, max(10, 20, 30)]
print(a)
b = [1, 2, a, ["사과", "딸기"], {"k":"v"}]
print(b)

[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기'], {'k': 'v'}]

In [9]:
# 반복문을 이용하여 리스트 생성
numlist = []
for num in range(1, 21, 2):
  numlist.append(num)
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
numlist = list(range(1, 21, 2))
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
# 리스트 컴프리헨션
numlist = [num for num in range(1, 21, 2)]
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
print(b)
for i in b:
  print(i)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기'], {'k': 'v'}]
1
2
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
['사과', '딸기']
{'k': 'v'}

### 리스트 요소에 접근

In [18]:
colors = ["빨강", "파랑", "초록", "노랑", "보라"]
print(colors[0])
print(colors[2:4])
print(colors[::-1])
# 슬라이싱은 리스트로 출력
for color in colors:
  print(f"나는 '{color}' 색상을 좋아합니다.")

빨강
['초록', '노랑']
['보라', '노랑', '초록', '파랑', '빨강']
나는 '빨강' 색상을 좋아합니다.
나는 '파랑' 색상을 좋아합니다.
나는 '초록' 색상을 좋아합니다.
나는 '노랑' 색상을 좋아합니다.
나는 '보라' 색상을 좋아합니다.

### 리스트에 요소 추가하기

In [ ]:
print(colors)

# 인덱스 2 위치에 "분홍" 넣기
colors.insert(2, "분홍")
print(colors)

# 맨뒤에 추가
colors.append("베이지")
print(colors)

### 리스트 특정 위치의 요소값 변경하기

In [25]:
colors[3] = "주황"
print(colors)

colors[1:3] = "갈색"
print(colors)
# 요소 개수 만큼 일일히 지정하던지 for문 돌리던지

colors[1:4] = "갈색"
print(colors)
# 부족한 부분은 삭제? 공백 삽입?

['빨강', '갈', '색', '주황', '초록', '노랑', '보라', '베이지', '베이지']
['빨강', '갈', '색', '주황', '초록', '노랑', '보라', '베이지', '베이지']
['빨강', '갈', '색', '초록', '노랑', '보라', '베이지', '베이지']

### 리스트의 요소 삭제

In [32]:
colors = ["빨강", "파랑", "초록", "노랑", "보라", "노랑"]

# 맨 뒤에 있는것 꺼내기(삭제?)
colors.pop()
print(colors)

# 요소값과 일치하는것 전부 삭제
colors.remove("노랑")
print(colors)

# 전체 내용 지우기
colors.clear()
print(colors)

['빨강', '파랑', '초록', '노랑', '보라']
['빨강', '파랑', '초록', '보라']
[]

### 리스트 자체 삭제

In [34]:
colors = ["빨강", "파랑", "초록", "노랑", "보라", "노랑"]
del(colors)

### 2차원/3차원... 리스트 요소 접근

In [38]:
animals = ["사자", "호랑이", "곰",
          ["고양이", "강아지", ["돌고래", "범고래"], "햄스터"]]
print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래
4

### 리스트 길이 (요소의 개수)

In [41]:
print(len(animals))
print(len(animals[3]))
print(len(animals[3][2]))

4
4
2

### 리스트 함수

In [ ]:
colors = ["빨강", "파랑", "초록", "노랑", "보라", "노랑"]

# 정렬 (오름차순)
colors.sort()
print(colors)
# 역정렬 (내림차순)
colors.reverse()
print(colors)

# 요소 위치 찾기
print(colors.index("빨강"))
print(colors.index("노랑")) # 중복일 경우 처음 나타난것

# 요소 값 개수세기
print(colors.count("노랑"))

# 리스트를 정렬해서 반환값을 새로운 이름으로 지정
sorted_colors = sorted(colors)
print(sorted_colors)
# 그러면 리스트는 가변객체인데 원래리스트는 안변함??, 차이점 파악하기

# 두개의 리스트 붙이기
new_colors = ["마젠타", "사이언", "버건디"]
print(new_colors)
colors.extend(new_colors)
print(colors)

print(colors + new_colors)
# colors += new_colors



---

## 3-2.딕셔너리(Dictionary)

### 딕셔너리 자료 생성

In [2]:
# 딕셔너리 생성
dic = {}
dic = dict()
print(type(dic))

<class 'dict'>

In [6]:
# 딕셔너리는 key:value 구조
members = {1:"이승철", 2:"박정현", "bts":["진", "RM", "뷔", "지민"]}
print(members)
print(members[2]) # 여기서 2는 키
print(members["bts"][1])
print(len(members))

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
박정현
RM
3

### 딕셔너리에서 value에 접근하기
- key를 통해서 value에 접근할 수 있다.

In [9]:
members = {1:"이승철", 2:"박정현", "bts":["진", "RM", "뷔", "지민"]}
for key in members:
  print(f"{key}: {members[key]}")

1: 이승철
2: 박정현
bts: ['진', 'RM', '뷔', '지민']

### 딕셔너리에서 자주 사용하는 함수

In [11]:
members = {1:"이승철", 2:"박정현", "bts":["진", "RM", "뷔", "지민"]}
print(members.keys())
print(members.values())
print(members.items()) # (key, value) 쌍으로 튜플형태

dict_keys([1, 2, 'bts'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('bts', ['진', 'RM', '뷔', '지민'])])

In [13]:
# for (key, value) in members.items()
for key, value in members.items():
  print(key, value)

1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']

In [14]:
# eval 함수로 언팩하는법 복습 할것.
for key, value in eval(members):
  print(key, value)

TypeError: eval() arg 1 must be a string, bytes or code object

### 딕셔너리에 요소 추가/수정/삭제

In [ ]:
members = {1:"이승철", 2:"박정현", "bts":["진", "RM", "뷔", "지민"]}
print(members)

# 요소 추가
members[3] = "NCT Dream"
members["소속사"] = ["하이브", "SM기획"]
print(members)

# 요소 수정
members[1] = "아이유"
print(members)

# 요소 삭제
del(members["소속사"])
print(members)

# 딕셔너리 삭제
del(members)
print(members)

## 3-3.튜플(Tuple)

### 튜플 생성

In [21]:
# 튜플 생성
tup = ()
tup = tuple()
print(type(tup))

<class 'tuple'>

In [23]:
a = [1, 2, 3, 4]
print(type(a), a)
print(type(tuple(a)), tuple(a))

<class 'list'> [1, 2, 3, 4]
<class 'tuple'> (1, 2, 3, 4)

In [25]:
tup1 = ("사과") # 괄호는 묶음의 의미로 해석
print(type(tup1))
tup2 = ("사과",) # 튜플에서 요소가 하나일 때는 반드시 뒤에 ,(쉼표)추가
print(type(tup2))

<class 'str'>
<class 'tuple'>

In [ ]:
# 자료형에 대한 도움말
help(tuple)

### 튜플은 변수를 정의할때 / 함수의 파라미터 정의에 사용

In [27]:
a, b = 100, 200
c, d, e = 300, 400, 500

print(a, b, c, d, e)

100 200 300 400 500

In [28]:
a, b = 100, [1, 2, 3]
print(a)
print(b)

100
[1, 2, 3]

In [29]:
def nSum(a, b):
  return a + b
nSum(11, 22)
# 여기서 ()도 튜플

33

## 3-4.집합(Set)

### 집합 생성

In [31]:
a = set() # 빈 집합 생성
print(type(a))

a = {1, 2, 3, 4, 2, 2, 4}
print(a)

<class 'set'>
{1, 2, 3, 4}

### 집합은 중복된 데이터는 배제한다.
- unique한 데이터만 남는다.
- 순서가 없다.

In [33]:
a = [1, 2, 3, 4, 5, 6, 7, 2, 2, 3, 5, 6, 7, 2]
print(a)
a = list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7, 2, 2, 3, 5, 6, 7, 2]
[1, 2, 3, 4, 5, 6, 7]

### 집합에 요소 추가/삭제
- 순서가 없기 때문에 수정의 의미가 없음

In [1]:
s = {1, 2, 3, "a", "b"}
print(s)

# 요소 한개 추가
s.add(4)
print(s)

# 요소 여러개 추가
s.update(["c", "d", 5]) # 여러개를 추가할때는 보통 리스트로
s.update("apple") # 문자열은 알파벳으로 분할해서 추가됨
print(s)

s.update(["apple"])
print(s)

# 요소 한개 삭제
s.discard("a")
print(s)
s.discard("apple") # "apple"를 하나의 요소로 인식, 업데이트랑 반대
print(s)
# s.discard(["p", "l"]) # 오류 리스트를 이용해서 여러개 삭제 안됨
# print(s)

# 특정 요소 하나 삭제
s.remove(1)
# 임의의 요소 하나 삭제
s.pop()
print(s)
# 요소 전체 삭제
s.clear()
print(s)

{1, 2, 3, 'a', 'b'}
{1, 2, 3, 'a', 'b', 4}
{1, 2, 3, 4, 5, 'e', 'p', 'b', 'a', 'l', 'c', 'd'}
{1, 2, 3, 4, 5, 'e', 'p', 'apple', 'b', 'a', 'l', 'c', 'd'}
{1, 2, 3, 4, 5, 'e', 'p', 'apple', 'b', 'l', 'c', 'd'}
{1, 2, 3, 4, 5, 'e', 'p', 'b', 'l', 'c', 'd'}
{3, 4, 5, 'e', 'p', 'b', 'l', 'c', 'd'}
set()

In [ ]:
del(s)
print(s)

### 교집합/합집합/차집합

In [7]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print(s1)
print(s2)

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s1.difference(s2))

# 대칭 차집합 : 합집합-교집합
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{1, 2, 6, 7}
{1, 2, 6, 7}

In [9]:
# 교집합으로 업데이트
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s3 = {5, 6, 7}

print(s1)
print(s1.intersection_update(s2, s3))
print(s1)

# 그 외에도
# 합집합으로 업데이트(그냥 update), 차집합으로 업데이트, 대칭차집합으로 업데이트

None
{1, 2, 3, 4, 5, 6, 7}
None
{5, 6, 7}

In [5]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None