<a href="https://colab.research.google.com/github/y109240/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 반복문

## 5-1. for 반복문
유한개수의 반복

### 다양한 반복문

In [3]:
# 1. range() 함수 이용 : 정수를 차례로 발생시키는 함수
# for 변수 in range(0, 3, 1):
for 변수 in range(3):
  print(변수)

0
1
2

In [13]:
# 2. 리스트 이용
a = list(range(10, 0, -1))
# 대괄호로 리스트를 만들면 그냥 리스트안에 레인지 객체가 생성
print(a)

for i in a:
  print(i)

for i in a:
  print(i, end=",")

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
10
9
8
7
6
5
4
3
2
1
10,9,8,7,6,5,4,3,2,1,

In [41]:
# 1~100 까지 10단위로 가로로 출력하는법
for i in range(1, 101, 10):
  for j in range(i, i+10):
    print(f"{j:>4}", end=" ")
  print()

# i를 10으로 나눠서
# 리스트 컴프리헨션

   1    2    3    4    5    6    7    8    9   10
  11   12   13   14   15   16   17   18   19   20
  21   22   23   24   25   26   27   28   29   30
  31   32   33   34   35   36   37   38   39   40
  41   42   43   44   45   46   47   48   49   50
  51   52   53   54   55   56   57   58   59   60
  61   62   63   64   65   66   67   68   69   70
  71   72   73   74   75   76   77   78   79   80
  81   82   83   84   85   86   87   88   89   90
  91   92   93   94   95   96   97   98   99  100

In [ ]:
# ????
for i in a:
  print(i)
  print(i, end=",")

In [17]:
# 3. 문자열 이용
for i in "python":
  print(i)

p
y
t
h
o
n

In [16]:
# 4. 변수 사용안하고 반복만 할때
for _ in range(3):
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

In [43]:
# 5. enumerate() : 리스트와 같은 순서라 있는 지료형의 인덱스를 함께 사용

fruits = ["사과", "포도", "딸기", "키위"]
# enumerate() 인덱스 번호랑 나눠서?
# fruits = {"4":"사과", "2":"포도", "0":"딸기", "1":"키위"}

idx = 0
for fruit in fruits:
  print(idx, fruit)
  idx = idx+1

for idx, fruit in enumerate(fruits):
  print(idx, fruit)

0 사과
1 포도
2 딸기
3 키위
0 사과
1 포도
2 딸기
3 키위

In [27]:
# 6. 컬렉션 자료형 특징 이용
# 리스트
for a, b in [(1, 2,), (3, 4), (5, 6)]:
  print(a, b)
print("-" * 5)

# 딕셔너리
dic = {1:"사과", 2:"포도"}
for key in dic:
  print(key, dic[key])

for key, value in dic.items():
  print(key, value)

print("-" * 5)
# 셋
for v in {1, 2, 3, 3, 4, 5, 3}:
  print(v)

1 2
3 4
5 6
-----
1 사과
2 포도
1 사과
2 포도
-----
1
2
3
4
5

In [35]:
n = int(input("합계를 구할 숫자 입력: "))
odd_sum = 0
# sum([i for i in range(1, n+1, 2)])
# for i in range(1, n+1, 2):
for i in range(1, n+1):
  if i % 2 ==1:
    odd_sum += i
print(f"1~{n}까지 짝수를 제외한 합은: {odd_sum}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은: 2500

### [실습문제] 정오각형 그리기
- turtle 모듈을 코랩에서 사용할 수 없음.
- pc에서 사용하기

In [44]:
# 거북이 그림 그리기
# 동시에 여러마리의 거북이가 움직이게 할려면?
# 함수로 정의해서 그려보기

### [실습문제]

In [ ]:
# 1~100까지의 숫자를 한줄로 출력해보기

# for i in range(1, 101): print(i, end=" ")

print(" ".join([str(i) for i in range(1, 101)]))

In [76]:
import random

scores = [random.randint(1, 100) for _ in range(5)]
for idx, i in enumerate(scores):
  print(f"{idx+1}번 학생 {i}점: 합격") if i > 60 else print(f"{idx+1}번 학생 {i}점: 불학격")

  # if i > 60:
  #   print(f"{idx+1}번 학생 {i}점: 합격입니다.")
  # else:
  #   print(f"{idx+1}번 학생 {i}점: 불합격입니다.")

  # result = "합격" if i > 60 else "불합격"
  # print(f"{idx+1}번 학생 {i}점: {result}")

1번 학생 69점: 합격
2번 학생 20점: 불학격
3번 학생 7점: 불학격
4번 학생 74점: 합격
5번 학생 58점: 불학격

In [68]:
# 리스트 컴프리헨션 너무 못하는뎈ㅋㅋㅋㅋㅋㅋㅋ
import random

for i in range(5):
  i = random.choice(range(1, 100))
  print(i, end=" ")
print()

for i in range(5):
  i = random.randint(1, 100)
  print(i, end=" ")

print([random.randint(1, 101) for _ in range(5)])
# randint는 되는데 choice는 안됨. 왜지???
# 아마 반환값의 차이??

99 21 14 79 23 97 82 98 14 101 [62, 63, 17, 40, 46]

In [ ]:
# 괄호 짝꿍 판별하기 (회문과 유사)
# 총 개수가 같은지
a_list = list(input("괄호: "))
print(a_list)

# 조건 반복 나열
# l_count = 0
# r_count = 0
# for i in a_list:
#   if i == "(":
#     l_count += 1
#   else:
#     r_count += 1
# if l_count == r_count:
#   print("결과:", True)
# else:
#   print("결과:", False)

# 리스트 컴프리헨션
l_count = len([i for i in a_list if i == "("])
r_count = len([i for i in a_list if i == ")"])

print(True if l_count == r_count else False)

In [88]:
a_list = list(input("괄호: "))

# "(" = +1,  ")" = -1, sum == 0
#  처음이 -1 이면 실패

i_list = []
if a_list[0] == ")":
  print(False)

else:
  for i in a_list:
    i_list = [1 if i == "(" else -1]
    # if i == "(":
    #   i = 1
    #   i_list.append(i)
    # else:
    #   i = -1
    #   i_list.append(i)

  print(True) if sum(i_list) == 0 else print(False)

# 이거 어떻게 줄일지 생각해보고
# 교수님 코드로 내 코드랑 같은점 다른점 생각해보기

괄호: (())(
False

## 중첩 for 반복문 : 반복문 안에 반복문

In [92]:
for i in range(3):
  print(f"{i}-------")
  for j in range(3):
    print(f"i:{i}, j:{j}")

0-------
i:0, j:0
i:0, j:1
i:0, j:2
1-------
i:1, j:0
i:1, j:1
i:1, j:2
2-------
i:2, j:0
i:2, j:1
i:2, j:2

In [93]:
p_lists = [")))()()(((", "()()()()())", "()(())()()", "))(())((", "()(()))(", "((())())"]
for p_list in p_lists:
  t = 0
  for p in p_list:
    if p == "(":
      t += 1
    elif p == ")":
      t -= 1
    if t < 0:
      break
  print(True) if t == 0 else print(False)
# 이렇게 판별하는 하는 코드는 함수로 만들면 좋아요.

False
False
True
False
False
True

## 5-2. while 반복문

### while 반복문 기본 형식

In [ ]:
# while True == while 1

In [95]:
a = 0
while a < 5:
  print(f"{a}는 5보다 작습니다.")
  a += 1
print(f"{a}는 5와 같습니다.")

0는 5보다 작습니다.
1는 5보다 작습니다.
2는 5보다 작습니다.
3는 5보다 작습니다.
4는 5보다 작습니다.
5는 5와 같습니다.

In [96]:
a = 0
while True:
  if a >= 5:
    break
  print(f"{a}는 5보다 작습니다.")
  a += 1
print(f"{a}는 5와 같습니다.")

0는 5보다 작습니다.
1는 5보다 작습니다.
2는 5보다 작습니다.
3는 5보다 작습니다.
4는 5보다 작습니다.
5는 5와 같습니다.

In [99]:
treeHit = 0
while treeHit < 10:
  treeHit += 1
  print(f"나무를 {treeHit}번 찍었습니다.")
print("나무 넘어가유")

# while True:
#   if treeHit >= 10:
#     print("나무 넘어가유~")
#     break
#   treeHit += 1
#   print(f"나무를 {treeHit}번 찍었습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어가유

In [ ]:
# 반복문을 이용하는 퀴즈문제
# 하이앤로우, 글자가 들어간 20고개 가능?, 정해진 갯수만큼 판매하는 프로그램, 전설의 별찍기 문제

**숙제**
- 이자율, 3의 배수의 합, 두배 별 출력, 구구단 출력
- 공이 튕긴 횟수 구하기, 도둑잡기 게임, 무인 호텔 관리 프로그램
- 거북이 그림 : 원, 벌집, 얼굴